.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 48px;
    padding-left: 48px;
}
  
@media screen and (max-width: 768px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}
  
@media screen and (max-width: 320px) {
    .header {
        padding-right: 16px;
        padding-left: 16px;
    }
}
  