.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.1;
    align-self: end;
}
  
@media screen and (max-width: 540px) {
    .footer__copyright {
        align-self: start;
    }
}
  
@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 1;
    }
}
  