.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    padding-top: 8px;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
}
  
@media screen and (max-width: 1024px) {
    .lead__caption {
        padding-left: 28px;
    }
}
  
@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}
  
@media screen and (max-width: 320px) {
    .lead__caption {
        padding-left: 16px;
    }
}
  