.cover__title {
    position: relative;
    
    max-width: 550px;
    font-size: 72px;
    line-height: 1.05;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 900;
}

@media screen and (max-width: 640px) {
    .cover__title {
         max-width: 65vw;
         font-size: 9vw;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 245px;
        font-size: 32px;
    }
}
