.place__website {
    justify-self: start;
    align-self: end;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0;
}

@media screen and (max-width: 760px) {
    .place__website {
        padding: 0 16px;
    }
}